/* Tag Selectors */
body{
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat-Medium', sans-serif;
  background-color: #f6f8f7;
  color: #787878;
  font-weight: bold;

}
hr{
  background-color: #bbbbbb;
}


.layer1{
  position: relative;
  margin: 0;
  padding: 0;

}


.bg-img-top{
  position: absolute;
  right: 0;
  height: 500px;
}

.bg-img-bottom{
  margin-top: 400px;
  position: absolute;
  left: 0;
width: 300px;
}


.big-heading{
  margin-top:5%;
font-size: 2rem;
font-weight: 700;
font-family: 'Montserrat-semi-bold', sans-serif;

}
.toggle-options{
  margin: 2%;
  color: #bbbbbb;
}

.row-details{
  margin: 3% 14% 5%;
    color: #787878;

}


.col-4.side-col{
background-color: #fff;
padding: 20px 30px 20px 30px;
border-radius: 3%;
margin: 20px 0 20px 0;

}

.col-4.mid-col{
  background-color: #8f86e8;
  color: #fff;
  padding: 40px 30px 40px 30px;
  border-radius: 3%;

}

.price{
  font-weight: 900;
  font-size: 3.5rem;
color: #4b4b4b;
}

.mid-col .price{
  color: #fff;
}

.btn{
font-family: monospace;
letter-spacing: 1px;
}

.btn.side-btn{
  background-color: #8f86e8;
  color: #fff;
  margin-bottom: 0;

}
.btn.side-btn:hover{
  background-color: #fff;
  color:#8f86e8;
  border: solid 1px #8f86e8;
}
.btn.mid-btn{
  background-color: #fff;
  color: #8f86e8;

}
.mid-btn:hover{
    background-color: #8f86e8;
    color: #fff;
    border: solid 1px #fff;
}
